.hidden {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* common */

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* header */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list,
.contacts {
  display: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 16px 0;
  display: block;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.burger-button {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-icon {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .nav-link {
    padding: 24px 0;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link.current {
    position: relative;
  }

  .nav-link.current::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -1px;

    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .contacts {
    font-style: normal;
    display: block;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover,
  .nav-link:focus,
  .contacts-link:hover,
  .contacts-link:focus,
  .nav-link.current {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* section solutions */

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.section-solutions {
  background-color: #2e2f42;
  padding-top: 72px;
  padding-bottom: 72px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
}

.title-solutions {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin: 0 auto;
  padding-bottom: 72px;
}

.service-button {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 768px) {
  .section-solutions {
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .title-solutions {
    font-size: 56px;
    line-height: 1.07;
    padding-bottom: 36px;
  }

  .service-button {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .service-button:hover,
  .service-button:focus {
    background-color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .section-solutions {
    padding-top: 188px;
    padding-bottom: 188px;
  }

  .title-solutions {
    padding-bottom: 48px;
  }
}

/* features section */

.features-title {
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  margin: 0 auto;
}

.features-item {
  width: 100%;
}

.container-icons {
  display: none;
}

.features-item-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.features-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .features-item {
    width: calc((100% - 24px) / 2);
  }

  .features-item-title {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .features-list {
    align-items: center;
    gap: 24px;
  }

  .features-item {
    width: calc((100% - 72px) / 4);
  }

  .container-icons {
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    height: 112px;
    margin-bottom: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon {
    display: flex;
  }

  .features-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .features-text {
    font-weight: 400;
  }
}

/* team section */

.team-section {
  background-color: #f4f4fd;
}

.team-container {
  width: 296px;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 72px;
}

.team-item {
  background-color: #fff;
  width: 100%;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-item-container {
  padding: 32px 0;
}

.team-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-socials-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-socials-item {
  width: 40px;
  height: 40px;
}

.team-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-social-icon {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .team-container {
    width: 584px;
  }

  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }

  .team-item {
    width: calc((100% - 24px) / 2);
  }

  .team-social-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .team-social-link:hover,
  .team-social-link:focus {
    background-color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .team-container {
    width: 1158px;
  }

  .team-list {
    align-items: center;
    gap: 24px;
  }

  .team-item {
    width: calc((100% - 24px * 3) / 4);
  }
}

/* portfokio section */

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.portfolio-item {
  width: 100%;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.box-portfolio-text {
  display: none;
}

.portfolio-item-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-list {
    row-gap: 48px;
  }

  .portfolio-item {
    width: calc((100% - 48px) / 3);
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }

  .box-portfolio {
    position: relative;
    overflow: hidden;
  }

  .box-portfolio-text {
    display: block;
    position: absolute;
    top: 0;
    padding: 40px 32px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-item:hover .box-portfolio-text {
    transform: translateY(0%);
  }
}
